{% import 'modal_macro.html' as modal %}
{% import 'audio_macro.html' as audio %}

{% extends "layout.html" %}

{% block title %}Listas{% endblock %}

{% block head %}
  {{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jaudio.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-duallistbox.css') }}">


	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/listas.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jaudio.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.bootstrap-duallistbox.js') }}"></script>
<style type="text/css">
	.jAudio--player{
		background-image: url('{{ url_for('static', filename='images/escuchando_musica.jpg') }}')!important;
		background-size:100% auto!important;	
	}

</style>

	<style type="text/css">
	body{
		background-image: url('{{ url_for('static', filename='images/fondo_body.jpg') }}')!important;
		background-size:100% auto!important;	
	}
	</style>
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="wrapper">
			<h3>Listas</h3>
		</div>
		<div class="wrapper">
			<table id="table_lista" class="display">
				<thead>
					<tr>
						<th>id</th>
						<th>Nombre</th>
					</tr>
				</thead>
				<tbody>

					{% if listas!=None -%}
						{% for lista in listas %}
						<tr id="lista_{{ lista.id }}" listaId="{{ lista.id }}" nombre="{{ lista.nombre }}">
							<td name="id">{{ lista.id }}</td>
							<td name="nombre"><span class="glyphicon glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;{{ lista.nombre }}</td>
						</tr>

						{% endfor %}
					{%- endif %}
				</tbody>
			</table>	
			<div style="margin-top: 20px">
				<button id="btn_agregar" class="btn btn-primary" data-toggle="modal" data-target="#modalPOST">Agregar</button>
				<button id="btn_editar" class="btn btn-primary" data-toggle="modal" data-target="#modalPUT" disabled="true">Editar</button>
				<button id="btn_borrar" class="btn btn-primary" data-toggle="modal" data-target="#modalDELETE" disabled="true">Borrar</button>
			</div>
		</div>
	</div>
	<div id="Audio_Col" class="col-xs-12 col-sm-6">
		<div class="wrapper">Seleccion una lista.</div>
	</div>

		{% set inputs = [["nombre",
						"text",
						"",
						"Nombre",
						"glyphicon-user"
						]] -%}

		{{ modal.modal(onsubmit="acciones_lista", titulo="Ingresar Lista", boton_text="Ingresar", method="POST", url=url_for('acciones_lista'), inputs=inputs) }}

		{% set inputs = [
						["lista_id",
							"hidden",
							"",
							"",
							None
							],
						["nombre",
							"text",
							"",
							"Nombre",
							"glyphicon-user"
							]] -%}

		{{ modal.modal(onsubmit="acciones_lista", titulo="Editar Lista", boton_text="Editar", method="PUT", url=url_for('acciones_lista'), inputs=inputs) }}

		{% set inputs = [
						["lista_id",
							"hidden",
							"",
							"",
							None
							]] -%}

		{{ modal.modal(onsubmit="acciones_lista", titulo="Eliminar Lista", boton_text="Eliminar", method="DELETE", 
			url=url_for('acciones_lista'), inputs=inputs, mensaje="¿Seguro que desea eliminar la lista?") }}
	
</div>
{% endblock %}


