<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

	<title>Ingresar</title>
</head>
<body>

<form name="login" action="{{ url_for('login')  }}" method="POST">
	<div style="margin-bottom: 25px" class="input-group">
		<label for="usuario" class="input-group-addon">
			<span class="glyphicon glyphicon-user"></span>
		</label>
		<input name="usuario" type="text" class="form-control" value="" placeholder="Usuario">
	</div>
	<div style="margin-bottom: 25px" class="input-group">
		<label for="password" class="input-group-addon">
			<span class="glyphicon glyphicon-lock"></span>
		</label>
		<input name="password" type="password" class="form-control" value="" placeholder="Contraseña">
	</div>
	<input class="btn btn-primary" type="submit" value="Ingresar">
	<a class="btn btn-primary" href="{{ url_for('singup') }}">Registrar</a>
	{% if error != None %}
		<span style="color:red">{{ error }}</span>
	{% endif %}
</form>
</body>
</html>