
{% macro input(name, type='text', value='', placeholder='', glyphicon=None) -%}
	<div class="input-group">
		{% if glyphicon!=None %}
			<label for="{{name}}" class="input-group-addon">
				<span class="glyphicon {{glyphicon}}"></span>
			</label>
		{% endif %}
		<input name="{{name}}" type="{{type}}" class="form-control" value="{{value}}" placeholder="{{placeholder}}">
	</div>
{%- endmacro %}

{% macro input_file(name, accept='audio/mp3', glyphicon=None) -%}

	<div class="input-group">
		{% if glyphicon!=None %}
			<label for="{{name}}" class="input-group-addon">
				<span class="glyphicon {{glyphicon}}"></span>
			</label>
		{% endif %}
		<input name="{{name}}" type="file" class="form-control" accept="{{accept}}">
	</div>
{%- endmacro %}

{% macro modal(onsubmit="", titulo="",boton_text="", method='POST', url='', inputs=[], file=None, mensaje=None) -%}
<div class="modal fade" id="modal{{method}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{method}}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel{{method}}">{{titulo}}</h4>
			</div>
			<div class="modal-body">
				<form method="{{ method }}" onsubmit="return {{ onsubmit }}('{{ method }}', '{{ url }}')" name="form{{ method }}" class="form-modal"  
				{% if file!=None -%}
					enctype="multipart/form-data"
				{%- endif %}
				
				>
					{% if mensaje!=None -%}
						<p>{{mensaje}}</p>
					{%- endif %}
					{% for inp in inputs -%}
						{% if inp[1]=="hidden" -%}	
							<div>
							<input name="{{inp[0]}}" type="{{inp[1]}}" value="{{inp[2]}}">
							</div>
						{% else %}
							{{ input(inp[0], type=inp[1], value=inp[2], placeholder=inp[3], glyphicon=inp[4]) }}
						{%- endif %}
					{%- endfor %}
					{% if file!=None -%}
						{{ input_file(file[0], accept=file[1], glyphicon=file[2]) }}
					{%- endif %}

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" onclick="$('form[name=form{{method}}]').submit()">{{boton_text}}</button>
			</div>
		</div>
	</div>
</div>
{%- endmacro %}
