{% extends "layout.html" %}

{% block title %}Mi Perfil{% endblock %}

{% block head %}
<!DOCTYPE html>
	{{ super() }}

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/usuarios.js') }}"></script>
	<style type="text/css">
	body{
		background-image: url('{{ url_for('static', filename='images/fondo_body.jpg') }}')!important;
		background-size:100% auto!important;	
	}
	</style>
{% endblock %}

{% block content %}

<div class="div-signin wrapper">

<form name="formPUT" onsubmit="return acciones_usuario('{{ url_for('acciones_usuario', usuario_id=usuario_sesion)  }}')" method="POST" class="form-signin">
	<h2 class="form-signin-heading">Mi Perfil</h2>
	<input type="hidden" name="usuario_id" value="{{usuario_sesion}}">
	<div style="margin-bottom: 25px" class="input-group">
		<label for="usuario" class="input-group-addon">
			<span class="glyphicon glyphicon-user"></span>
		</label>
		<p name="usuario" type="text" class="form-control" readonly>{{ usuario.usuario }}</p>
	</div>
	<div style="margin-bottom: 25px" class="input-group">
		<label for="nombre" class="input-group-addon">
			<span class="glyphicon glyphicon-user"></span>
		</label>
		<input name="nombre" type="text" class="form-control" value="{{ usuario.nombre }}" placeholder="Nombre y Apellido">
	</div>
	<div style="margin-bottom: 25px" class="input-group">
		<label for="correo" class="input-group-addon">
			<span class="glyphicon glyphicon-envelope"></span>
		</label>
		<input name="correo" type="text" class="form-control" value="{{ usuario.correo }}" placeholder="Correo Electrónico">
	</div>
	<div style="margin-bottom: 25px" class="input-group">
		<label for="nacimiento" class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"></span>
		</label>
		<input name="nacimiento" type="text" class="form-control" value="{{ usuario.nacimiento }}" placeholder="Fecha de Nacimiento: dd/mm/aaaa">
	</div>
	<input class="btn btn-primary" type="submit" value="Aceptar">
	
</form>

</div>

{% endblock %}